art==5.8
eagerpy==0.30.0
foolbox==3.3.3
adversarial-robustness-toolbox==1.14.0
mlflow==1.29.0
./mlplatformlib-1.0.0-py3-none-any.whl
numpy==1.23.5
scikit_learn==1.1.3
tensorflow==2.11.0
torch==1.13.1
Pillow==9.4.0

# The conflict is caused by:
#     The user requested torch==1.13.1
#     torchvision 0.14.0 depends on torch==1.13.0

torchvision==0.14.1
numba==0.56.4

# Do testów
timeout-decorator==0.5.0